body {
    text-align: center;
    margin: 50px auto 0;
    background: #000;
    color: #fff;
    font-family: Roboto;

    a {
        color: #fff;
    }

    #gamecanvas {
        display: inline-block;
        width: 800px;
        height: 600px;
        background: #000;
    }
}

